@import url('./main.css');

/* =============== Header =============== */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
}

header.sticky .info {
    display: none;
}
header.sticky .navbar{
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

header .navbar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo {
    display: inline-block;
    max-width: 100px;
    width: 100%;
    padding: 12px;
}

.logo img {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.navbar .item {
    padding: 8px;
    display: flex;
    gap: 12px;
}

.nav-close-btn,
.nav-menu-btn {
    display: none;
}

.navigation__info .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.navigation__info .nav-items .info-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navigation__info .nav-items .info-link i {
    background-color: var(--bg-icon);
    color: var(--bg-vector);
    border-radius: 50%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .navigation {
    width: 100%;
} */

.navigation .nav-items a,
.navigation__info .nav-items a {
    color: var(--white-color);
    font-size: 1rem;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

/* .navigation .nav-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.navigation .nav-items a {
    display: inline-block;
    padding: 20px 30px;
    background-color: var(--color-secundario);
    text-align: center;
    transition: background-color .3s;
}

.navigation .nav-items a:hover {
    background-color: var(--color-primario);
}

.navigation .nav-items .link-active {
    background-color: var(--color-primario);
}

.navigation .nav-items a i {
    display: none;
} */

/* =============== Home =============== */
.home {
    min-height: 100vh;
}

.home::before {
    z-index: 888;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, var(--white-color));
}

/* =============== Background slider =============== */
.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
}

.swiper-slide .text-content .title {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    color: var(--bg-color);
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .botones {
    display: flex;
    gap: 15px;
}

.swiper-slide .text-content .botones .read-more {
    border: 2px solid var(--color-primario);
    outline: none;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-size: 1em;
    font-weight: 500;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .botones .read-more {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .botones .read-more i {
    font-size: 1.6em;
    transition: 0.3s ease;
    margin-right: 10px;
}

.swiper-slide .text-content .botones .read-more:hover .arrow {
    transform: translateX(5px);
}

.dark-layer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
}

/* =============== Media icons =============== */
.media-icons {
    z-index: 888;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 90px;
}

.media-icons a {
    color: var(--bg-icon);
    font-size: 1.7em;
    margin: 10px 0;
}

:root {
    --main-color: #0373BF;
    --background-color: #CBFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

.aboutus {
    margin: 3em auto;
    padding: 0 10em;
    gap: 2em;
    flex-wrap: wrap;
    flex-direction: row;
}

.aboutus__description {
    width: 25em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
}

.about__description-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.about__description-card {
    width: 45%;
    border-radius: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    background: #e4e3e3da;
    padding: 1em;
}

.about__description-card h3 {
    font-weight: bold;
    text-align: center;
}

.about__description-card p {
    font-size: small;
    text-align: center;
}

.about__description-card:hover {
    background: #f1f1f1;
}

.aboutus__description-h2 {
    color: #659fdd;
    width: auto !important;
    margin: 0 !important;
}

.aboutus__description-p {
    color: white;
    font-size: small;
}

.aboutus__comment-text {
    background-color: var(--main-color);
    padding: 2em;
    border-radius: 2em 2em 2em 0;
    position: relative;
    z-index: 1;
    color: white;
    font-size: small;
}

.aboutus__figure {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
    margin: auto;
}

.aboutus__figure-comment {
    margin: auto;
    width: 20em;
}

.aboutus__figure-comment svg {
    background-color: #46B6CF;
    border-radius: 100%;
    margin: -2em -3em;
    display: flex;
    height: 4em;
    width: 4em;
    padding: 1em;
    position: absolute;
}

.aboutus__figure-img {
    width: 15em;
    border-radius: 7em;
}

.footer {
    /*padding-top: 6vh;*/
    padding-left: 5em;
    padding-right: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 3em;
    padding-top: 3em;

}

.footer__credits {
    grid-column: span 3;
    text-align: center;
    font-size: small;
    color: white;
}

.footer__section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__section-book {
    outline: 0;
    display: inline-flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    background: #46B6CF;
    border: 0;
    border-radius: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
}

.footer__section-book:hover {
    opacity: .95;
}

.footer__section-book .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}

.footer__section-h2, .footer__section-p {
    color: white;
}


.footer__section-items {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer__section-p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.footer__section-text, .footer__section-p {
    font-size: small;
    color: white;
}

.footer__section-ul {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.footer__fb {
    margin-top: 4em;
}

.footer__text-description {
    text-align: justify;
}

.header {
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    padding: 0.5em 5em;
    background-color: var(--main-color);
    z-index: 30;
    font-size: 1em;
}

.header__bar {
    border: 0.1em solid white;
}

.header__login {
    gap: 0.5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav a {
    color: white;
}

.header__nav-end {
    border-left: 0.5em solid black;
}

.header__signup {
    background-color: var(--main-color);
    color: white;
}

.header__user {
    gap: 1em;
    font-weight: 600;
}

.icon {
    color: black;
    align-items: center;
}

.icon__span {
    color: white;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__figure {
    width: 50px;
    height: 50px;
    display: grid;
}

.loader__figure::before,
.loader__figure::after {
    content: "";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#1692f8 92%,rgba(179, 53, 53, 0));
    background: var(--c) 50%  0,
    var(--c) 50%  100%,
    var(--c) 100% 50%,
    var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}

.loader__figure::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes s2 {

    100% {
        transform: rotate(.5turn)
    }
}

.main {
    z-index: 1;
    background: linear-gradient(90deg, #07B9D7, #727272, #0373B0);
    background-size: 300% 300%;
    animation: gradient 6s alternate infinite;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 2.8em;
    flex-direction: row;
    justify-content: center;
    padding-left: 5em;
    padding-right: 5em;
    color: white;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.main__description {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    width: 40vw;
}

.main__description-content {
    font-size: small;
}

.main__description-title {
    font-size: xx-large;
    font-weight: 600;
}

.main__decription-span {
    font-size: small;
    gap: 1em;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.footer__social {
    display: flex;
    gap: 3em;
    height: 40px;
    margin:auto
}

.footer__social svg {
    position: absolute;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
}

.footer__social .social-link1,.footer__social .social-link2,.footer__social .social-link3,.footer__social .social-link4,.footer__social .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.footer__social svg {
    transform: scale(1);
}

.footer__social .social-link1:hover {
    animation: bounce_613 0.4s linear !important;
}

.footer__social .social-link2:hover {
    background-color: #242c34 !important;
    animation: bounce_613 0.4s linear !important;
}

.footer__social .social-link3:hover {
    background-color: #06771b;
    animation: bounce_613 0.4s linear;
}

.footer__social .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
}


@keyframes bounce_613 {
    40% {
        transform: scale(0.8);
    }

    60% {
        transform: scale(0.6);
    }

    80% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0.8);
    }
}

.tratamientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em 3em;

}

.tratamientos__asistencia {
    text-align: center;
    padding-top: 4em;
}

.tratamientos__card {
    text-align: left;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 25vw;
    padding: 2em;
}

.tratamientos__card svg {
    margin: auto;
    height: 100px;
    width: 100px;
}

.tratamientos__card-description {
    font-size: small;
}

.tratamientos__card-title, .tratamientos__card-description {
    text-align: center;
}

.tratamientos__card-title {
    font-weight: bold;
}

.tratamientos__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.tratamientos__main {
    text-align: center;
}

.tratamientos__main-h2 {
    font-size: xx-large;
    font-weight: bold;
    width: 35vw;
    margin: auto;
}

.tratamientos__main-span {
    color: var(--main-color);
    font-weight: bold;
}

.tratamientos__main-title {
    padding-bottom: 2em;
}



.e-card {
    margin: auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 15em;
    height: 5em;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#46B6CF,#0373BF 60%,#00ddeb);
}

.infotop {
    text-align: left;
    font-size: medium;
    position: absolute;
    padding-left: 1em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    z-index: 1;
}

.aboutus__figure-card {
    position: relative;
}

.aboutus__figure-svg {
    position: absolute;
    width: 6em;
    height: auto;
    top: -0.9em;
    left: 11em;
    z-index: 2;
}

.name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 1200px) {

    .aboutus {
        padding: 0 4em;
    }

    .aboutus__description {
        width: auto;
    }

    .aboutus__figure {
        width: auto;
    }

    .aboutus__figure-comment {
        width: auto;
    }

    .header {
        display: none;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
    }

    .footer__credits {
        margin: auto;
    }

    .footer__section {
        width: 100%;
    }

    .footer__section-ul {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    .footer__text-description {
        text-align: justify;
    }

    .footer__section-iframe {
        display: none;
    }

    .main {
        padding-top: 0;
    }

    .main__description {
        width: 70vw;
    }

    .main__description-title {
        font-size: x-large;
    }

    .main__image {
        display: none;
    }

    .tratamientos {
        padding: 4em 2em;
    }

    .tratamientos__content {
        gap: 1em;
    }

    .tratamientos__card {
        width: 35vw;
        padding: 1em;
    }

    .tratamientos__main-h2 {
        width: auto;
        font-size: x-large;
    }

}
